<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Siobhan Dillon | Stylist - Costume designer">

  <title>
    Siobhan Dillon | Stylist - Costume designer
  </title>

  <link href="https://fonts.googleapis.com/css?family=Raleway:500|Vollkorn:400i" rel="stylesheet">
  <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-2.8.0.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/style.css">
  <link rel="shortcut icon" type="image/png" href="">
</head>